# Corporate Tax Rates and the Largest Stock Exchanges

Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import key index from each countries largest stock exchange

In [3]:
bse_index = pd.read_csv('BSE.index.bse.csv')
ftse_index = pd.read_csv('FTSE.index.GBP.csv')
gdaxi_index = pd.read_csv('GDAXI.index.eur.csv')
gsptse_index = pd.read_csv('GSPTSE.composite.cad.csv')
hsi_index = pd.read_csv('HSI.index.hkd.csv')
kospi_index = pd.read_csv('KOSPI.composite.krw.csv')
n225_index = pd.read_csv('N225.index.jpy.csv')
nya_index = pd.read_csv('NYA.composite.usd.csv')
sse_index = pd.read_csv('SSE.composite.csy.csv')
ssmi_index = pd.read_csv('SSMI.index.chf.csv')

Import corporate tax rates since 1980

In [5]:
corporate_tax_rates = pd.read_excel('corporate.tax.rates.xlsx')

Clean `coroporate_tax_rates` dataframe

In [6]:
corporate_tax_rates = corporate_tax_rates.drop(columns=['iso_2','iso_3','continent','oecd','eu27','gseven','gtwenty','brics'])

corporate_tax_rates.head()

  country  year  rate  gdp
0   Aruba  1980   NaN  NaN
1   Aruba  1981   NaN  NaN
2   Aruba  1982   NaN  NaN
3   Aruba  1983   NaN  NaN
4   Aruba  1984   NaN  NaN

Create a filtered dataframe for the countries we selected

In [7]:
country_list = ['United States of America','India','United Kingdom of Great Britain and Northern Ireland','Germany','Canada','China, Hong Kong Special Administrative Region','Republic of Korea','Japan','China','Switzerland']

filtered_corporate_tax_rates = corporate_tax_rates[corporate_tax_rates['country'].isin(country_list)]

filtered_corporate_tax_rates.head()

     country  year   rate         gdp
1640  Canada  1980    NaN  781.317688
1641  Canada  1981  50.92  808.688171
1642  Canada  1982  49.53  782.793823
1643  Canada  1983  48.27  803.135254
1644  Canada  1984  47.63  850.723816